@import "tailwindcss";
@font-face {
  font-family: "Vazirmatn";
  src:
    url("./assets/fonts/Vazirmatn-Regular.otf") format("opentype"),
    url("./assets/fonts/Vazirmatn-Regular.woff") format("woff"),
    url("./assets/fonts/Vazirmatn-Regular.woff2") format("woff2"),
    url("./assets/fonts/Vazirmatn-Regular.ttf") format("truetype"),
    url("./assets/fonts/Vazirmatn-Regular.eot") format("embedded-opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: "Vazirmatn", ui-sans-serif, system-ui, sans-serif;
}

/* 4. Global Styles */
@layer base {
  body {
    /* v4 automatically maps --font-sans to the font-sans class */
    font-family: var(--font-sans);
    @apply antialiased bg-zinc-950 text-zinc-100;
  }
}
@layer utilities {
  .hero-bg {
    background-image: url("/src/assets/images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@layer utilities {
  .notfound-bg {
    background-image: url("/src/assets/images/notfound-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}